.features-landing{
    height:65vh;
}
.featurecontainer{
    background: rgb(34,15,136);
background: linear-gradient(90deg, rgba(34,15,136,1) 25%, rgba(144,115,193,1) 70%);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.side1{
    height:60vh;
}

.kendedaimage{
    height:60vh;

}

.hotspot {
    display: block;
    position: absolute;
    cursor: pointer;
  }

  /* Example styles for the hotspots */
  #hotspot1 {
    top: -175px;
    left: 165px;
    width: 275px;
    height: 73px;
    background-color: rgba(255, 0, 0, 0.5); /* semi-transparent red */
  }

  #hotspot2 {
    top: -315px;
    left: 533px;
    width: 420px;
    height: 50px;
    background-color: rgba(0, 255, 0, 0.5); /* semi-transparent green */
  }

  #hotspot3 {
    top: -295px;
    left: 610px;
    width: 385px;
    height: 43px;
    background-color: rgba(0, 0, 255, 0.5); /* semi-transparent blue */
  }

  area{
    display: block;
    position : relative;

  }
 
.between{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

