<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flame AI</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/solution.css') }}">
    <script src = "{{ url_for('static',filename='interface.js') }}"></script>
</head>

<body>
  
  <!-- Title -->
  <section id="title" class="gradient-background">
    <!--<div class="container card-overlay">
      <header class="d-flex justify-content-center py-3 px-4">
        <ul class="nav">
          <li class="px-2"><a class="nav-link active" aria-current="page" href="./solution.html"><span style="color:white; font-weight: bold;">HOME</span></a></li>
          <li class="px-2"><a class="nav-link active" aria-current="page" href="./features.html"><span style="color:white; font-weight: bold;">PRODUCT</span></a></li>
          <li class="px-2"><a class="nav-link active" aria-current="page" href="./aboutus.html"><span style="color:white; font-weight: bold;">ABOUT</span></a></li>
        </ul>
      </header>
    </div>-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="#!">FLAME AI</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item"><a class="nav-link" href="./solution.html">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="./features.html">Product</a></li>
                  <li class="nav-item"><a class="nav-link" href="./testai.html">Documentation</a></li>
              </ul>
          </div>
      </div>
  </nav>
    
    

    <div class="container col-xxl-8 px-4 pt-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 pt-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div id="c0" class="carousel-item active">
                <img src="{{ url_for('static',filename='./images/car1.png') }}" class="d-block w-100 rounded-3" alt="fire image 1">
              </div>
              <div id="c1" class="carousel-item">
                <img src="{{ url_for('static',filename='./images/car2.png') }}" class="d-block w-100 rounded-3" alt="fire image 2">
              </div>
              <div id="c2" class="carousel-item">
                <img src="{{ url_for('static',filename='./images/car3.png') }}" class="d-block w-100 rounded-3" alt="fire image 3">
              </div>
              <div id="c3" class="carousel-item">
                <img src="{{ url_for('static',filename='./images/car4.png') }}" class="d-block w-100 rounded-3" alt="fire image 4">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!--<img src="./images/iphone.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" height="200"
            loading="lazy">-->
        </div>
        <div class="col-lg-6" id="aaa">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" style="color: antiquewhite;"> <span style="color:white">Welcome to <span style="color:#b48505;"> FLAME AI</span></span></h1>
          <h3 style="color: aliceblue;"> Empowering first responders and residents with comprehensive fire detection technology, ensuring swift and efficient response to protect lives and property 
           </h3>

          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            
            <a href="./features.html">
              <button type="button" class="btn btn-outline-light btn-lg px-4" style="margin-top: 10px;">Get Started</button>
          </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Features -->
  <section id="features">
    <div class="container mt-5">
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div
            class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg xmlns="http://www.w3.org/2000/svg" height="30" fill="currentColor" class="bi bi-check2-circle"
              viewBox="0 0 16 16">
              <path
                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
              <path
                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
            </svg>
          </div>
          <div>
            <h3 class="fs-2">Machine Learning</h3>
            <p>Using a hybrid approach that utilizes a YOLOv5 computer vision model to detect people and a logistic regression model trained on fire sensory data, we predict the probability of a fire and the number of people in each area. </p>

          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div
            class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg xmlns="http://www.w3.org/2000/svg" height="30" fill="currentColor" class="bi bi-mortarboard"
              viewBox="0 0 16 16">
              <path
                d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Z" />
              <path
                d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z" />
            </svg>
          </div>
          <div>
            <h3 class="fs-2">YOLOv5</h3>
            <p>We used a pre-trained YOLOv5 image classification model that we fine-tuned on fire images. This process yielded a refined YOLOv5 variant tailored for fire detection.</p>

          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div
            class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1z"/>
            </svg>
          </div>
          <div>
            <h3 class="fs-2">CV2</h3>
            <p>We used the OpenCV (cv2) library to capture and preprocess video stream data, converting each frame into a format suitable for analysis. This processed data was then fed into a machine learning model designed for the real-time classification of images to accurately identify the presence of fires and people within the video frames.</p>

          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="Divider"> 
    
  </div>
  <section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">USE CASES</h2>
                    <p class="lead fw-normal text-muted mb-5">These are some potential applications of our model which help in the healthcare industry.</p>
                </div>
            </div>
        </div>
        <!--begin new one
        <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingOne">
                              <h4 class="panel-title">
                                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Section 1
                                  </a>
                              </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingTwo">
                              <h4 class="panel-title">
                                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Section 2
                                  </a>
                              </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="panel-body">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingThree">
                              <h4 class="panel-title">
                                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      Section 3
                                  </a>
                              </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                              <div class="panel-body">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        end new one-->
        <div class="row gx-5 expandable">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0 ">
                    <img class="card-img-top" src="{{ url_for('static',filename='./images/industry.jpg') }}" alt="...">
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Industrial Facilities</h5></a>
                        <p class="card-text mb-0">Flame AI can be deployed in factories, warehouses, and manufacturing plants to provide early detection of fires, preventing costly damage to equipment, materials, and infrastructure. It can also help prioritize evacuation procedures and resource allocation in the event of a fire.</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{{ url_for('static',filename='./images/lab.jpg') }}" alt="...">
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Laboratories</h5></a>
                        <p class="card-text mb-0">Research laboratories often house valuable equipment, chemicals, and sensitive materials. Flame AI can play a critical role in protecting these assets by detecting fires at their inception, minimizing the risk of explosions, chemical.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{{ url_for('static',filename='./images/schoolonfire.jpg') }}" alt="...">
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Educational Institutions</h5></a>
                        <p class="card-text mb-0">Schools, colleges, and universities can benefit from Flame AI to ensure the safety of students, faculty, and staff. By detecting fires early, it enables swift evacuation procedures and assists emergency responders in identifying areas of the campus that require immediate attention.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Call to action-->
        
    </div>
</section>
  <!-- Testimonial -->
  <!--<section id="testimonial">
    <div class="my-5">
      <div class="p-5 text-center bg-body-tertiary">
        <div class="container py-5">
          <h2 class="text-body-emphasis">"I no longer have to sniff other dogs for love. I've found the hottest Corgi on
            TinDog. Woof."</h2>
          <img class="profile-img mt-5" src="./images/dog-img.jpg" alt="dog image">
          <p class="col-lg-8 mx-auto lead mt-2">
            Pebbles, New York
          </p>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-sm-12">
              <img src="./images/techcrunch.png" alt="techcrunch" height="30">
            </div>
            <div class="col-lg-3 col-sm-12">
              <img src="./images/mashable.png" alt="mashable" height="30">
            </div>
            <div class="col-lg-3 col-sm-12">
              <img src="./images/bizinsider.png" alt="bizinsider" height="30">
            </div>
            <div class="col-lg-3 col-sm-12">
              <img src="./images/tnw.png" alt="tnw" height="30">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->
  <!-- Pricing -->
  <!--<section id="pricing">
    <div class="container">
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h2 class="display-4 fw-normal">A Plan for Every Dog's Needs</h2>
        <p class="fs-5 text-body-secondary">Simple and affordable price plans for you and your dog.
      </div>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Chihuahua</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>5 Matches Per Day</li>
                <li>10 Messages Per Day</li>
                <li>Unlimited App Usage</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-dark">Sign up for free</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Labrador</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Unlimited Matches</li>
                <li>Unlimited Messages</li>
                <li>Unlimited App Usage</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-dark">Get started</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-dark">
            <div class="card-header py-3 text-bg-dark border-dark">
              <h4 class="my-0 fw-normal">Mastiff</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Pirority Listing</li>
                <li>Unlimited Matches & Messages</li>
                <li>Unlimited App Usage</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-dark">Contact us</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->
  <!-- Footer -->
  <section id="contact" class="gradient-background">
    <div class="container ">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="./solution.html" class="nav-link px-2 text-body-secondary"><span style="color : white;">Home</span></a></li>
          <li class="nav-item"><a href="./features.html" class="nav-link px-2 text-body-secondary"><span style="color : white;">Products</span></a></li>
          <li class="nav-item"><a href="./tryme.html" class="nav-link px-2 text-body-secondary"><span style="color : white;">AI Model</span></a></li>
          <li class="nav-item"><a href="./testai.html" class="nav-link px-2 text-body-secondary"><span style="color : white;">Documentation</span></a></li>

        
        </ul>
        <p class="text-center text-body-secondary"><span style="color : white;">© 2024 Flame AI, Inc</span></p>
      </footer>
    </div>
  </section>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

</html>